html {
    font-size: 62.5%; /* 1rem is 10px */
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;

    background-color: #2FBE4F;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    font-family: 'Varela Round', sans-serif;
}

.titulo {
    font-size: 60px;
    margin-top: 60px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 1;
    overflow: hidden; 
    position: absolute;
    z-index: -1;
}

.labelInputFile {
    height: 120px;
    font-size: 20px;
    padding: 10px 5px;
    border: 2px solid ;
    display: grid;
    text-align: center;
    font-weight: bold;
    
}
.labelInputFile > i {
    font-size: 80px;
}
.labelInputFile:hover {
    background-color: #F0F93D;
}
.nameFileSpan {
    font-size: 14px;
    padding: 10px 5px;
}

.buttonResults{
    width: 500px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    background-color: red;
}
.buttonResults:hover {
    background-color: black;
    color: gray;
}